.hidden {
    display: none;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    color: white;

}

header {
    background-color: rgb(0, 0, 0);
    padding: 10px 0;

}

#main-logo {
    width: 300px;
    display: block;
    margin: 0 auto;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}

#character_nav {
    background-color: rgb(202, 164, 164);
    background-image: url(../images/gggg.jpeg);
    background-size: cover;
    background-blend-mode: overlay;
}

.characters {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px;
}

.characters li {
    height: 220px;
    background-color: black;
    margin: 10px 8px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 155px 0 0 red inset;
    transition: box-shadow 0.2s ease-in-out;
}

.characters li:hover {
    box-shadow: 0 220px 0 0 red inset;
}

.characters li h3 {
    color: white;
    padding: 15px 8px;
}

.characters li a {
    text-decoration: none;
}

.sprite {
    width: 150px;
    height: 150px;
    background-image: url(../images/sprites\ 1.jpeg)
}

#bhadur {
    background-position: -150px 0;
}

#saheed {
    background-position: -300px 0;
}

#king {
    background-position: -450px 0;
}

#sant {
    background-position: -600px 0;
}

#sardar {
    background-position: -750px 0;
}

#Baba:hover, #Bhadur:hover, #saheed:hover, #king:hover, #sant:hover, #sardar:hover {
    background-position-y: 150px;
}

#instructions {
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
}

.sticky-footer {
    position: sticky;
    top: 100%;
    height: 80px;
    background-color: black;
}


.lightbox {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.85);
    background-image: url(../images/OIP.jpeg);
    background-repeat: no-repeat;
    background-size: 55vh;
    background-position: 40px bottom;
    display: none;
}

.lightbox_close {
    position: relative;
    top: 20px;
    left: 95%;
    color: white;
    font-size: 46px;
    text-decoration: none;
    font-weight: bold;
    transition: color .3s linear;
}

.lightbox_close:hover {
    color: red;
}

.lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 50px;
}

.lb_heading {
    font-size: 34px;
}

.lb_text {
    line-height: 28px;
}

.lightbox:target {
    display: block;
}


#lightbox2 {
    background-image: url(../images/e43b1df1e095efae9b0a9b82a2e99698.jpg);
}
